{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_content %}


    <div class="container">
        <h1>About Code Cauldron Portishead</h1>
        
        <p><strong>Welcome to Code Cauldron Portishead!</strong></p>
        <p>Are you an adult eager to learn coding and make new friends? Code Cauldron Portishead is the perfect place to concoct your coding skills while connecting with others in a fun, in-person setting!</p>

        <p>Bi-weekly, we dive into a new topic, from Python and microcontrollers to web development. Whether you're a beginner or have some experience, our sessions are designed to help you grow and enjoy the journey.</p>

        <h2>What to Expect:</h2>
        <ul>
            <li>Bi-weekly sessions covering exciting coding topics</li>
            <li>Friendly, hands-on learning in a small group (max 8 people)</li>
            <li>Run by an experienced coder, offering guidance and support</li>
            <li>A welcoming environment for building friendships and confidence</li>
        </ul>

        <p>No matter your skill level, come join us and concoct your passion for coding!</p>
    </div>

    {% endblock page_content %}