<!-- pages/templates/pages/home.html -->

{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}








    {% if user.is_authenticated %}
    Hi {{ user.username }}! you are logged IN
    <p><a href="{% url 'password_change' %}">Password Change</a></p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
    {% else %}
    <p>You are not logged in</p>
    <p><a href="{% url 'password_reset' %}">Password Reset</a></p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}

    {% block posts %}

    <div class="jumbotron jumbotron-fluid jumbotron bg-secondary text-white">
      <div class="container">
        <h1 class="display-4">Featured posts</h1>
        <p class="lead">A curation of our latest content</p>



    {% for post in posts %}
    <div class="card-deck">
        <div class="card">
            {% load static %}
          
          
          <div class="card-body">
            <img class="blogindexicon" class="card-img-top" src="{% static 'images/cauldron.png' %}" alt="Card image cap">
            <h5 class="card-title"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h5>
            <p class="card-text"><p>{{ post.body | slice:":400" }}...</p>
            <p class="card-text"><small class="text-muted">
                {{ post.created_on.date }} | Categories:
                {% for category in post.categories.all %}
                    <a href="{% url 'blog_category' category.name %}">
                        {{ category.name }}
                {% endfor %}
                    </a></small></p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

{% endblock posts %}

{% endblock page_content %}



