<!-- projects/templates/projects/project_index.html -->

{% extends "base.html" %}

{% block page_content %}

{% block projects %}

<h1 id="projecttitle">Projects</h1>
<div class="row align-items-center">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card text-white bg-dark border-light text-center mb-2;" style="margin-bottom: 20px;">
           
            {% if project.image %}
            <center> <!-- Center the image and content -->
                <br> <!-- Line break goes here -->
                <img class="card-img-top img-fluid" src="{{ project.image.url }}" style="padding: 5px; padding-top: 0px">
                </center>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description | slice:":200"}}....</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>

                {{ project.created_on.date }} | Categories:
                {% for category in project.categories.all %}
                    <a href="{% url 'project_category' category.name %}"> </a>
                        {{ category.name }}
                        {% endfor %}
             



            </div>
            
        </div>
    
</div>
    {% endfor %}




</div>

{% endblock projects %}

{% endblock page_content %}


